#join {
  background-color: #6a77ac;

  .j{
    margin-bottom: 2em;
    margin-top: 3em;
  }

  h2 {
    text-align: center;
    // margin-top: 1em;
  }
  form {
    .btn {
      position: relative;
      left: 45%;
    }
  }
}


